article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
b,
strong {
  font-weight: 700;
}
p,
pre {
  margin: 1em 0;
}
small {
  font-size: 80%;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
html,
body {
  margin: 0;
  padding: 0;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.button {
  color: #fff;
  background: #6db9bf;
  /* Old browsers */

  background: -moz-linear-gradient(top, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6db9bf), color-stop(45%, #6db9bf), color-stop(55%, #4aa8b0), color-stop(100%, #4aa8b0));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db9bf', endColorstr='#4aa8b0', GradientType=0);
  /* IE6-9 */

  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  line-height: 30px;
  padding: 0 15px;
}
.button:hover {
  background: #000;
}
.tb {
  background-color: rgba(0, 0, 0, 0.3);
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.section-wrap {
  margin: 0 auto;
  width: 980px;
}
header {
  background: url(topback.jpg) no-repeat 50% 0 #d9d9d9;
  border-top: 1px solid #000;
  padding: 20px 0 82px;
  text-align: center;
}
header h1 {
  font-family: "brandon-grotesque", Arial, sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 80px;
  margin: 0 0 10px;
  text-transform: uppercase;
}
header h2 {
  color: #999999;
  font-family: "brandon-grotesque", Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  margin: 0 0 10px;
  text-transform: capitalize;
}
header h2 em {
  color: #48a7af;
  font-style: normal;
}
header .print-data {
  color: #999999;
  display: block;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  margin: 0 0 15px;
}
header .user-toolbar ul {
  font-size: 12px;
  font-weight: normal;
  line-height: 33px;
  margin: 0;
  padding: 0;
}
header .user-toolbar ul li {
  display: inline-block;
  margin: 0 1px;
}
header .user-toolbar ul li a {
  background-color: #262626;
  color: #e5e5e5;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
  padding: 0 20px;
  text-transform: uppercase;
}
header .user-toolbar ul li a:hover {
  background-color: #48a7af;
}
header .user-toolbar ul li a.fav-icon {
  background-image: url(sprite2.png);
  background-repeat: no-repeat;
  background-position: 50% -885px;
  text-indent: -999em;
}
.page-nav {
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  height: 60px;
  position: absolute;
  text-align: center;
  top: 244px;
  width: 100%;
}
.page-nav ul {
  border-right: 1px solid #d9d9d9;
  zoom: 1;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
}
.page-nav ul:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.page-nav ul li {
  border-left: 1px solid #d9d9d9;
  float: left;
}
.page-nav ul li a {
  color: #000;
  display: block;
  font-family: "SignPainter-HouseScript", cursive;
  font-size: 22px;
  font-weight: normal;
  line-height: 18px;
  height: 50px;
  padding: 10px 20px 1px;
}
.page-nav ul li a:hover {
  color: #48a7af;
}
.page-nav ul li a span {
  display: block;
  font-family: "brandon-grotesque", Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}
.fixed {
  position: fixed;
  top: 0;
  z-index: 100;
}
.about-book {
  margin: 0 auto 40px;
  padding: 20px 0 0;
  position: relative;
  min-height: 425px;
  width: 980px;
}
.about-book h1 {
  text-align: center;
  font-family: "SignPainter-HouseScript", cursive;
  font-size: 36px;
  font-weight: normal;
  line-height: 30px;
}
.about-book h1 span {
  display: block;
  font-family: "brandon-grotesque", Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}
.about-book .add-to-cart {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  float: right;
  list-style: none;
  margin: 1em 0 35px 25px;
  padding: 0;
  width: 300px;
}
.about-book .add-to-cart > li {
  border-top: 1px solid #e5e5e5;
  zoom: 1;
  color: #333333;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  padding: 11px;
  position: relative;
}
.about-book .add-to-cart > li:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.about-book .add-to-cart > li:first-child {
  border-top: none;
}
.about-book .add-to-cart > li.action {
  background-color: #f5f5f5;
}
.about-book .add-to-cart > li span {
  display: block;
  margin-bottom: 10px;
}
.about-book .add-to-cart > li span em {
  font-style: normal;
}
.about-book .add-to-cart > li > a {
  color: #fff;
  background: #6db9bf;
  /* Old browsers */

  background: -moz-linear-gradient(top, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6db9bf), color-stop(45%, #6db9bf), color-stop(55%, #4aa8b0), color-stop(100%, #4aa8b0));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db9bf', endColorstr='#4aa8b0', GradientType=0);
  /* IE6-9 */

  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  line-height: 30px;
  padding: 0 15px;
  position: absolute;
  right: 11px;
  top: 11px;
}
.about-book .add-to-cart > li > a:hover {
  background: #000;
}
.about-book .add-to-cart > li > a i.cart-icon {
  display: inline-block;
  line-height: inherit;
  margin: -3px 0 0;
  background-image: url(sprite2.png);
  background-repeat: no-repeat;
  background-position: 0 -46px;
  height: 15px;
  width: 32px;
  vertical-align: middle;
}
.about-book .add-to-cart > li select,
.about-book .add-to-cart > li div {
  font-size: 12px;
}
.about-book p {
  color: #666666;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin-left: 315px;
}
.about-book dl {
  zoom: 1;
  font-size: 11px;
  font-weight: bold;
  line-height: 15px;
  margin: 0 0 0 315px;
  padding: 10px 0 0;
}
.about-book dl:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.about-book dl dt {
  clear: left;
  color: #333333;
  float: left;
  padding: 0;
}
.about-book dl dt:after {
  content: ":";
}
.about-book dl dd {
  color: #d9d9d9;
  float: left;
  margin: 0 0 0 5px;
  padding: 0;
}
.about-book .book-cover {
  background: url(bookback.jpg) no-repeat;
  left: 0;
  -moz-perspective: 300px;
  -webkit-perspective: 300px;
  perspective: 300px;
  position: absolute;
  top: 40px;
  height: 380px;
  width: 315px;
}
.about-book .book-cover img {
  display: block;
  left: -55px;
  position: relative;
  -moz-transform: rotateY(-20deg) scale(0.58, 0.69);
  -webkit-transform: rotateY(-20deg) scale(0.58, 0.69);
  transform: rotateY(-20deg) scale(0.58, 0.69);
  top: -51px;
}
.about-book .book-cover a {
  color: #fff;
  background: #6db9bf;
  /* Old browsers */

  background: -moz-linear-gradient(top, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6db9bf), color-stop(45%, #6db9bf), color-stop(55%, #4aa8b0), color-stop(100%, #4aa8b0));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db9bf', endColorstr='#4aa8b0', GradientType=0);
  /* IE6-9 */

  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  line-height: 30px;
  padding: 0 15px;
  position: absolute;
  left: 26px;
  text-transform: uppercase;
  top: 380px;
}
.about-book .book-cover a:hover {
  background: #000;
}
.about-book .book-cover a i.comment-icon {
  display: inline-block;
  line-height: inherit;
  margin: -3px 0 0;
  background-image: url(sprite2.png);
  background-repeat: no-repeat;
  background-position: 0 -80px;
  height: 15px;
  width: 35px;
  vertical-align: middle;
}
.favorite-quotes {
  background-color: #262626;
  border-bottom: 1px solid #fff;
  padding: 20px 0 40px 0;
  text-align: center;
}
.favorite-quotes h1 {
  color: #fff;
  font-family: "SignPainter-HouseScript", cursive;
  font-size: 36px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
}
.favorite-quotes h1 span {
  display: block;
  font-family: "brandon-grotesque", Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}
.favorite-quotes form {
  height: 160px;
  margin: 0 0 90px;
  position: relative;
}
.favorite-quotes form label {
  color: #fff;
  display: block;
  font-family: Georgia, Times, serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 48px;
  font-style: italic;
  position: absolute;
  height: 48px;
  width: 960px;
  text-align: center;
  top: 110px;
}
.favorite-quotes form input {
  background: url(quotes.png) no-repeat;
  border: none;
  color: #fff;
  display: block;
  font-family: Georgia, Times, serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 48px;
  font-style: italic;
  outline: none;
  padding: 0 70px;
  position: absolute;
  height: 48px;
  width: 820px;
  text-align: center;
  top: 110px;
}
.favorite-quotes form button {
  color: #fff;
  background: #6db9bf;
  /* Old browsers */

  background: -moz-linear-gradient(top, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6db9bf), color-stop(45%, #6db9bf), color-stop(55%, #4aa8b0), color-stop(100%, #4aa8b0));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db9bf', endColorstr='#4aa8b0', GradientType=0);
  /* IE6-9 */

  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  line-height: 30px;
  padding: 0 15px;
  border: none;
  display: block;
  height: 30px;
  left: 50%;
  margin-left: -61px;
  position: absolute;
  top: 0;
}
.favorite-quotes form button:hover {
  background: #000;
}
.favorite-quotes form button i.quote-icon {
  display: inline-block;
  line-height: inherit;
  margin: -3px 0 0;
  background-image: url(sprite2.png);
  background-repeat: no-repeat;
  background-position: 0 -115px;
  height: 16px;
  width: 28px;
  vertical-align: middle;
}
.favorite-quotes div > a {
  color: #48a7af;
  background-color: #f7f7f7;
  border: 1px solid #d9d9d9;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  line-height: 30px;
  padding: 0 15px;
}
.favorite-quotes div > a:hover {
  background-color: #48a7af;
  color: #fff;
}
.favorite-quotes div > a i.raqute-icon {
  display: inline-block;
  line-height: inherit;
  margin: -3px -5px 0 0;
  background-image: url(sprite.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 23px;
  width: 24px;
  vertical-align: middle;
}
.favorite-quotes .all-quotes {
  color: #fff;
  display: block;
  font-family: Georgia, Times, serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  font-style: italic;
  list-style: none;
  margin: 0;
  padding: 40px 0 0 0;
  position: relative;
  height: 24px;
  width: 100%;
}
.favorite-quotes .all-quotes li {
  display: block;
  margin: 30px 0;
  opacity: 0;
  position: absolute;
  top: 10px;
  width: 100%;
}
.favorite-quotes .all-quotes li:first-child {
  opacity: 100;
}
footer {
  background-color: #000;
  color: #fff;
}
footer a:hover {
  text-decoration: underline;
}
footer > div.section-wrap {
  zoom: 1;
  width: 1040px;
}
footer > div.section-wrap:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
footer .recommendations {
  border-right: 1px solid #999999;
  zoom: 1;
  float: left;
  padding: 40px 30px 40px 0;
  width: 439px;
}
footer .recommendations:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
footer .recommendations ul {
  float: left;
  list-style: none;
  margin: 0 30px 0 0;
  padding: 0 0 30px;
}
footer .recommendations ul a {
  color: #48a7af;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
}
footer .recommendations h2 {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin: 0 0 0.5em;
}
footer .recommendations p {
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
}
footer .recommendations p a {
  color: #48a7af;
}
footer .recommendations p a:after {
  content: "→";
  margin-left: 5px;
}
footer .sitemap {
  float: left;
  margin: 0 0 0 30px;
  padding: 40px 0 0 0;
  width: 540px;
}
footer .sitemap ul {
  zoom: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .sitemap ul:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
footer .sitemap ul li {
  color: #fff;
  float: left;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-transform: capitalize;
  width: 100px;
}
footer .sitemap ul ul {
  margin: 0.5em 0;
}
footer .sitemap ul a {
  color: #48a7af;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
}
footer .footnotes {
  background-color: #262626;
  color: #fff;
  font-size: 11px;
  font-weight: normal;
  line-height: 20px;
  height: 20px;
  padding: 12px 0;
}
footer .footnotes .section-wrap {
  zoom: 1;
  width: 1040px;
}
footer .footnotes .section-wrap:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
footer .footnotes .copyright {
  display: block;
  float: left;
  width: 500px;
}
footer .footnotes .legal {
  float: left;
  height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 400px;
}
footer .footnotes .legal li {
  float: left;
  margin-right: 30px;
}
footer .footnotes .legal li a {
  color: #48a7af;
}
footer .footnotes .partner {
  display: block;
  float: left;
  text-align: right;
  width: 140px;
}
/**
* Stylish Select 0.4.9 - $ plugin to replace a select drop down box with a stylable unordered list
* http://github.com/scottdarby/Stylish-Select/

* Hide lists on page load ---------------------------------------------------------*/
.stylish-select .SSContainerDivWrapper {
  left: -9999px;
}
/* Red example ------------------------------------------*/
.stylish-select .SSContainerDivWrapper {
  margin: 0;
  padding: 0;
  width: 275px;
  position: absolute;
  top: 22px;
  left: 0;
  z-index: 2;
  border: 1px solid #e5e5e5;
}
.stylish-select ul.newList {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000;
  background: #fff;
  border: 1px solid #ccc;
  overflow: none;
}
.stylish-select ul.newList * {
  margin: 0;
  padding: 0;
}
.stylish-select ul.newList a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 3px 8px;
}
.stylish-select .newListSelected {
  width: 268px;
  color: #000;
  height: 33px;
  padding: 3px 0 0 10px;
  float: left;
  background: #ffffff;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 50%, #f2f2f2 51%, #f2f2f2 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(50%, #ffffff), color-stop(51%, #f2f2f2), color-stop(100%, #f2f2f2));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 50%, #f2f2f2 51%, #f2f2f2 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #ffffff 50%, #f2f2f2 51%, #f2f2f2 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 50%, #f2f2f2 51%, #f2f2f2 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #f2f2f2 51%, #f2f2f2 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0);
  /* IE6-9 */

  border: 1px solid #e5e5e5;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.stylish-select ul.newList li a:focus {
  -moz-outline-style: none;
}
.stylish-select .selectedTxt {
  width: 234px;
  overflow: hidden;
  height: 30px;
  padding: 0 34px 0 0;
  position: relative;
}
.stylish-select .selectedTxt:after {
  background-image: url(sprite.png);
  background-repeat: no-repeat;
  background-position: 5px -109px;
  border-left: 1px solid #e5e5e5;
  content: "";
  height: 33px;
  width: 33px;
  position: absolute;
  right: 0;
  top: 0;
}
.stylish-select .selectedTxt:hover:after {
  background-image: url(sprite.png);
  background-repeat: no-repeat;
  background-position: 5px -139px;
}
.stylish-select .hiLite {
  background: #6db9bf;
  /* Old browsers */

  background: -moz-linear-gradient(top, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6db9bf), color-stop(45%, #6db9bf), color-stop(55%, #4aa8b0), color-stop(100%, #4aa8b0));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #6db9bf 0%, #6db9bf 45%, #4aa8b0 55%, #4aa8b0 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db9bf', endColorstr='#4aa8b0', GradientType=0);
  /* IE6-9 */

  color: #fff!important;
}
.stylish-select .newListHover {
  background: #6db9bf;
  /* Old browsers */

  background: -moz-linear-gradient(top, #4aa8b0 0%, #4aa8b0 45%, #6db9bf 55%, #6db9bf 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4aa8b0), color-stop(45%, #4aa8b0), color-stop(55%, #6db9bf), color-stop(100%, #6db9bf));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #4aa8b0 0%, #4aa8b0 45%, #6db9bf 55%, #6db9bf 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #4aa8b0 0%, #4aa8b0 45%, #6db9bf 55%, #6db9bf 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #4aa8b0 0%, #4aa8b0 45%, #6db9bf 55%, #6db9bf 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #4aa8b0 0%, #4aa8b0 45%, #6db9bf 55%, #6db9bf 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4aa8b0', endColorstr='#6db9bf', GradientType=0);
  /* IE6-9 */

  color: #000!important;
  cursor: default;
}
.stylish-select .newListDisabled {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.stylish-select .newListItemDisabled {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.stylish-select .newListOptionDisabled {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.stylish-select .newListSelHover,
.stylish-select .newListSelFocus {
  background-position: 0 -22px;
  cursor: default;
}
.stylish-select .newListOptionTitle {
  font-weight: bold;
}
.stylish-select .newListOptionTitle ul {
  margin: 3px 0 0;
}
.stylish-select .newListOptionTitle li {
  font-weight: normal;
}
